# Python version requirement
python_version == "3.10.*"

# Package requirements
reportlab>=4.0.0
Pillow>=10.0.0
emoji>=2.8.0
mutagen>=1.47.0
torch==2.0.1
openai-whisper==20231117
opencv-python>=4.8.0
vobject>=0.9.6.1
